{% extends "_base.html" %}
{% load static %}

{% block title %}Регистрация{% endblock %}

{% block content %}
    <div class="container">
        <div class="header"></div>
        <h2>Регистрация</h2>

    <!--form action="" method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit">Зарегистрироваться</button>
    </form-->

    <!--form method="post">
        {% csrf_token %}
        {% for field in form %}
            <p>
                {{ field.label_tag }}<br>
                {{ field }}
                {% if field.help_text %}
                    <span>{{ field.help_text }}</span>
                {% endif %}
                {% for error in field.errors %}
                    <p>{{ error }}</p>
                {% endfor %}
            </p>
        {% endfor %}
        <button type="submit">Отправить</button>
    </form-->

    <form action="" method="post">
        {% csrf_token %}
        {% if form.error_dict %}
            <p class="error">Пожалуйста исправьте нижеприведённые ошибки.</p>
        {% endif %}

         {% if form.username.errors %}
            {{ form.username.html_error_list }}
         {% endif %}
         <label for="id_username">Логин:</label> {{ form.username }}

        {% if form.password1.errors %}
            {{ form.password1.html_error_list }}
        {% endif %}
        <label for="id_password1">Пароль:</label> {{ form.password1 }}

        {% if form.password2.errors %}
            {{ form.password2.html_error_list }}
        {% endif %}
        <label for="id_password2">Пароль (снова):</label> {{ form.password2 }}
        <br>
        {% if form.email.errors %}
            {{ form.email.html_error_list }}
        {% endif %}
        <label for="id_email">Почта:</label> {{ form.email }}

        {% if form.first_name.errors %}
            {{ form.first_name.html_error_list }}
        {% endif %}
        <label for="id_first_name">Имя:</label> {{ form.first_name }}

        {% if form.last_name.errors %}
            {{ form.last_name.html_error_list }}
        {% endif %}
        <label for="id_last_name">Фамилия:</label> {{ form.last_name }}

        <input type="submit" value="Зарегистрировать" />
    </form>
    </div>

{% endblock %}