{% extends "_base.html" %}
{% load static %}

{% block content %}

{% include '_menu.html' with active_page="main" %}


  <main role="main">
    <div class="jumbotron">
      <div class="container">
        <h1 class="display-4">Добро пожаловать на сайт просто магазина</h1>
        <p>Лучшие мобилы только у нас:</p>
      </div>
    </div>

    <div class="container mb-5">
      <!-- Example row of columns -->

      <div class="row">
          {% for phone in phones %}
            {% include '_product_snippet.html' with product=phone product_url=phone.section %}
          {%endfor%}
      </div>
    </div> <!-- /container -->

    <div class="jumbotron">
      <div class="container">
        <h1 class="display-4">Не знаете что одеть летом?</h1>
        <p>Вот что мы можем предложить:</p>
      </div>
    </div>

    <div class="container mb-5">
      <!-- Example row of columns -->
      <div class="row">
        {% for product in other_products %}
          {% include '_product_snippet.html' with product=product product_url=product.section %}
        {%endfor%}
      </div>

      </div>
    </div> <!-- /container -->
  </main>

{% endblock %}