{% extends "_base.html" %}
{% load filters %}
{% load app_tags %}
{% load static %}

{% block content %}
{% include '_menu.html' with active_page="gadgets" %}

<style>
    .show_prop { display: none; }
    input:checked + .show_prop { display: block; }
</style>

  <main role="main">

    <div class="container mt-3">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-12">
          <h2>{{phone.name}}</h2>

          <img src="/static/img/{{product.image}}" width="120">

          <p>{{detailed.description}}</p>
          <form method="post" action="{% url name_url product.slug %}">
            {% csrf_token %}
            <input type="hidden" name="merchandise_id" value="1">
            <input type="hidden" name="description" value="{{detailed.description}}">
            <input type="submit" class="btn btn-secondary" value="Добавить в корзину »">
          </form>
        </div>
      </div>
      <hr>
      {% if product.section == 'smartphones' %}
        {% include 'app_eshop/phone_detail.html' with phone=product detailed=detailed %}
      {% elif product.section == 'cultural' %}
        {% include 'app_eshop/culture_detail.html' with phone=product detailed=detailed %}
      {% elif product.section == 'miscellaneous' %}
        {% include 'app_eshop/miscellaneous_detail.html' with phone=product detailed=detailed %}
      {% endif %}
      <hr>
      {% for review in reviews %}
          {% get_stars review.rating as stars %}
          {{ stars }} <span>{{ review.name }}</span>
          <p style="width:30%">{{ review.text }}</p>
      {%endfor%}
      <hr>
      <div class="row">
        <div class="col-lg-6 col-md-8 col-sm-12">
          <h4>Оставте отзыв:</h4>
            <form action="" method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <br>
                <!--input type="submit" value="Отправить отзыв"/-->
                <button type="submit" class="btn btn-primary">Оставить</button>
            </form>
        </div>
      </div>

    </div> <!-- /container -->

  </main>

{% endblock %}

