{% extends "_base.html" %}
{% load static %}

{% block content %}

      <div class="container">
        <h1>Смартфоны</h1>
        <nav aria-label="Pagination">
            <ul class="pagination justify-content-left">
                {% if prev_page_url %}
                    <li class="page-item">
                {% else %}
                    <li class="page-item disabled">
                {% endif %}
                <a class="page-link" href="{{ prev_page_url }}">Предыдущая</a></li>

                <li class="page-item active"><a class="page-link" href="">{{ current_page }}</a></li>

                {% if next_page_url %}
                    <li class="page-item">
                {% else %}
                    <li class="page-item disabled">
                {% endif %}
                <a class="page-link" href="{{ next_page_url }}">Следующая</a></li>
            </ul>
        </nav><br>

        <div class="row">
          {% for phone in phones %}
            {% include 'snippet_phone.html' with phone=phone  %}
          {%endfor%}
        </div>
      </div>

{% endblock %}