### Python ###
.idea/
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

*.sqlite3
env/
### Project specific ###
settings_local.py
/site-form-works/
/creating-project/
/databases/
/databases_2/
/dynamic-templates/
/request-handling/
/site-personalization/
